html(ng-app='app', ng-controller='AppController')
  head
    meta(charset='utf-8')
    title TransactionParser
    meta(name='description', content='')
    meta(property='og:description', content='')

    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-title', content='TransactionParser')
    meta(name='mobile-web-app-capable', content='yes')
    meta(name='mobile-web-app-title', content='TransactionParser')

    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    <!-- build:css /styles/vendor.css -->
    <!-- inject:css -->
    link(rel='stylesheet', href='../node_modules/bootstrap/dist/css/bootstrap.css')
    <!-- endinject -->
    <!-- endbuild -->

    <!-- build:css(.tmp) /styles/app.css -->
    <!-- inject:css -->
    link(href='../../.tmp/app.css', rel='stylesheet')
    <!-- endinject -->
    <!-- endbuild -->

    // FAVICON
    link(rel='shortcut icon', href='/images/favicon.ico', type='image/x-icon')
    link(rel='icon', href='/images/favicon.ico', type='image/x-icon')

    base(href='/')
  body
    header
    .container
      .page-header
        div.row.row-header
          h1 Ripple Transaction Parser
        div.row.row-content
          form(role="form", ng-submit='parseTxn()')
            div.form-group
              label(for="tx") Paste signed transaction hex here
              textarea.form-control.txHex(ng-model="txBlob", ng-required="true", rows="6", id="tx")
            button.btn.btn-success(type="submit") Parse
            button.btn.btn-cancel(ng-click="reset()") Reset
          div.panel.panel-primary(ng-cloak, ng-show="txJSON")
            div.panel-heading
              h3.panel-title Parsed transaction JSON
            div.panel-body.txJSON
              pre
                code {{txJSON}}
          div.alert.alert-danger.alert-dismissible(ng-cloak, role="alert", ng-show="parseError")
            button.close(type="button" data-dismiss="alert" aria-label="Close")
              span(aria-hidden="true") &times
            p Invalid transaction



      //div(ui-view="guest")

    <!-- build:js(.tmp) /scripts/vendor.js -->
    <!-- inject:js -->
    script(src='/scripts/vendor.js')
    <!-- endinject -->
    <!-- endbuild -->

    <!-- build:js(.tmp) /scripts/app.js -->
    <!-- inject:js -->
    script(src='/scripts/app.js')
    <!-- endinject -->
    <!-- endbuild -->
